*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Noto Serif JP', serif;
  
}

.wrapper {
    max-width: 1300px ; 
    margin: 0 auto;
    padding: 0 40px;
 }


/*main aside section */

.container {
    display: flex;
    justify-content: space-between;
}

main {
 flex:0.66;
}
main article {
    margin-top: 20px;
}

main h1 {
    font-size: 30px;
}

main ul {
    list-style: none;
    display: flex;
    padding: 10px 0 10px 0;
}

main ul li {
    margin-right:  40px;
}

main img {
    width: 100%;
}

main p {
    text-align: left;
    font-weight: bold;
}



header {
    width: 100%;
    position: fixed;
    z-index: 100;
    background-color: #ffffff;
}
header h2 {
    padding: 15px;
    font-size: 30px;
    padding-left: 20px;

}

header nav{
    width: 100%;
    background-color: black;
    padding-bottom: 10px;
    padding-left: px;

}

header nav ul li {
    list-style: none;
}

header ul li {
    display: inline-block;
    margin-top: 10px;
    margin-right: 40px;

}
header ul li a {
    text-decoration: none;
    color: #ffffff;
}

a {
    font-weight: bold;
}

img {
    width: 95%;
}

.new-article {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 150px;
    margin-bottom: 10px;

}

.new-article p {
    font-weight: 800;
    margin-top: 10px;
    font-weight: bold;

}

.new-article a {
    text-decoration: none;
    color: black;
    display: block;
    margin-top: 10px;
}

/* aside*/
aside {
    flex: 0.33;

}

aside .author {
    text-align: center;
    margin-bottom: 50px;
}

aside .author h4 {
    margin: 20px;
}

.author p {
    max-width: 300px;
    margin: 0 auto;
    text-align: left;
}

.author img {
    width: 70%;
}

.ranking h4 {
    text-align: center;
}

.ranking-article a {
    text-align: center;
    text-decoration: none;
    color: black;
}

.ranking-article img {
    padding: 5px;
}

.ranking-article p {
    padding-right: 10px;
    margin-bottom: 10px;
}

@media screen and (max-width:768px){
  .new-article {
    flex-direction: column;
 }
 .container {
    flex-direction: column;
 }

 aide .ranking img {
    width: 100%;
 }
 .new-article {
    margin-bottom: 30px;
 }
}
